
checkpoints/MNIST-VAE/_MNIST_1175/_CHECKPOINT_METADATA
checkpoints/MNIST-VAE/_MNIST_1175/_METADATA
checkpoints/MNIST-VAE/_MNIST_1175/_sharding
checkpoints/MNIST-VAE/_MNIST_1175/manifest.ocdbt
checkpoints/MNIST-VAE/_MNIST_1175/d/26ba125b3b423b69718785331b7805f8
checkpoints/MNIST-VAE/_MNIST_1175/ocdbt.process_0/manifest.ocdbt
checkpoints/MNIST-VAE/_MNIST_1175/ocdbt.process_0/d/4fa62d7fe802188598dbf8e908c0dc0b
checkpoints/MNIST-VAE/_MNIST_1175/ocdbt.process_0/d/5d847eaa4976e495e47b885134bfa3a2
checkpoints/MNIST-VAE/_MNIST_1175/ocdbt.process_0/d/09b0544fac0c49383b7f9f0616d665b7
checkpoints/MNIST-VAE/_MNIST_1175/ocdbt.process_0/d/9fac73aeef9ad9fd5409d5ba92807df1
checkpoints/MNIST-VAE/_MNIST_1175/ocdbt.process_0/d/71a3e10f7eecaf7fa5717fc5eafc7bd7
checkpoints/MNIST-VAE/_MNIST_1175/ocdbt.process_0/d/770b353447b0b26083158dc564b37b53
checkpoints/MNIST-VAE/_MNIST_1175/ocdbt.process_0/d/4557d62ee9578eb502699d0d179d8b8f
checkpoints/MNIST-VAE/_MNIST_1175/ocdbt.process_0/d/7356382cf1667e425a312ce463658ef6
checkpoints/MNIST-VAE/_MNIST_1175/ocdbt.process_0/d/b0ff72cba691f514d58fe98e05d6af98
checkpoints/MNIST-VAE/_MNIST_1175/ocdbt.process_0/d/be31e6289bf7d3e09d12ef474e7a27ae
checkpoints/MNIST-VAE/_MNIST_1175/ocdbt.process_0/d/c48d3a80d02fbb3d3fe022a467229f2e
checkpoints/MNIST-VAE/_MNIST_1175/ocdbt.process_0/d/f0447cbdda0b89f51b0a1b0db4e3fb22
checkpoints/MNIST-VAE/_MNIST_235/_CHECKPOINT_METADATA
checkpoints/MNIST-VAE/_MNIST_235/_METADATA
checkpoints/MNIST-VAE/_MNIST_235/_sharding
checkpoints/MNIST-VAE/_MNIST_235/manifest.ocdbt
checkpoints/MNIST-VAE/_MNIST_235/d/238eb0da15ac846b9d3b5265981c224b
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/manifest.ocdbt
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/002e8b39ea015cbfbf4433db6aac925a
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/2ecae4b39dd18732de9dd2347ede6622
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/9eabb385fa1062005b3f276278d5c43f
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/38cc08d4ca437d0da718b4ccee8e2097
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/59d9dd44bdd0de4a347db2d71ade9f0e
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/88e66d38be82cc0badb1368e716a977a
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/0338f35db5a835005f65df83e62d8316
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/525dd86d8e16396ea0e6ce6cf387a124
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/702f5af15166f8b121bf720075e35cb1
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/709d339f3aafdee06a3f0e7a0dc4a1b6
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/1403e205f9cb115b0c760d8a9f4096e3
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/01536de84c2dcffca009fa0ab7c02055
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/a4a33e1eb9fad4af3fedcfa767f68eb7
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/a11dd7fabe884b57a9cd5588345256df
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/a38a0c8f97758ff338d0ec2545791a78
checkpoints/MNIST-VAE/_MNIST_235/ocdbt.process_0/d/f8600d6f074b875b5d53a98044e29bb6
checkpoints/MNIST-VAE/_MNIST_470/_CHECKPOINT_METADATA
checkpoints/MNIST-VAE/_MNIST_470/_METADATA
checkpoints/MNIST-VAE/_MNIST_470/_sharding
checkpoints/MNIST-VAE/_MNIST_470/manifest.ocdbt
checkpoints/MNIST-VAE/_MNIST_470/d/890d76caf3430b17e77c22fb79a470bc
checkpoints/MNIST-VAE/_MNIST_470/ocdbt.process_0/manifest.ocdbt
checkpoints/MNIST-VAE/_MNIST_470/ocdbt.process_0/d/0cb777d2e2beb03153c6601a3b6f54c6
checkpoints/MNIST-VAE/_MNIST_470/ocdbt.process_0/d/5a2227ab2130a084f545c0647af2527f
checkpoints/MNIST-VAE/_MNIST_470/ocdbt.process_0/d/6c19d1994cc335e6568f7d8b227dcd22
checkpoints/MNIST-VAE/_MNIST_470/ocdbt.process_0/d/83e42b928d2781c76296cfc6ab1aaec4
checkpoints/MNIST-VAE/_MNIST_470/ocdbt.process_0/d/247f363a81ab8ce346e9f18295e07e11
checkpoints/MNIST-VAE/_MNIST_470/ocdbt.process_0/d/679a511dc5ba18d9dfa8f7f93f270b46
checkpoints/MNIST-VAE/_MNIST_470/ocdbt.process_0/d/268431cea39500fa36ee7eac7d7695d0
checkpoints/MNIST-VAE/_MNIST_470/ocdbt.process_0/d/405637bc5ad94b2a5c3a6a4ce701af54
checkpoints/MNIST-VAE/_MNIST_470/ocdbt.process_0/d/747649005ef9bceeb1208f38e4224f33
checkpoints/MNIST-VAE/_MNIST_470/ocdbt.process_0/d/c05056343150debc0903d537eeac0c87
checkpoints/MNIST-VAE/_MNIST_470/ocdbt.process_0/d/efd962ce5f058b5dbfe11b21ceb55153
checkpoints/MNIST-VAE/_MNIST_705/_CHECKPOINT_METADATA
checkpoints/MNIST-VAE/_MNIST_705/_METADATA
checkpoints/MNIST-VAE/_MNIST_705/_sharding
checkpoints/MNIST-VAE/_MNIST_705/manifest.ocdbt
checkpoints/MNIST-VAE/_MNIST_705/d/08eab9123c93bda7b3321acdf6ec01c6
checkpoints/MNIST-VAE/_MNIST_705/ocdbt.process_0/manifest.ocdbt
checkpoints/MNIST-VAE/_MNIST_705/ocdbt.process_0/d/2e3e08d52170473f128a88628611480c
checkpoints/MNIST-VAE/_MNIST_705/ocdbt.process_0/d/3c75193bd1d499ba166627090919959d
checkpoints/MNIST-VAE/_MNIST_705/ocdbt.process_0/d/7f2d1eec879c81e8a361c1dd274fc5df
checkpoints/MNIST-VAE/_MNIST_705/ocdbt.process_0/d/30deb9f073b0d166f07aa450900450f5
checkpoints/MNIST-VAE/_MNIST_705/ocdbt.process_0/d/071a8a4c28f481e895f32e0a8e92daff
checkpoints/MNIST-VAE/_MNIST_705/ocdbt.process_0/d/71fc356e9905d9136bff70f8ee5688a9
checkpoints/MNIST-VAE/_MNIST_705/ocdbt.process_0/d/76a387c9217123982706f5d88f0116cc
checkpoints/MNIST-VAE/_MNIST_705/ocdbt.process_0/d/354433eb61d00cdf008d277218a26360
checkpoints/MNIST-VAE/_MNIST_705/ocdbt.process_0/d/83710511837ebe9532e7cb46b9c1975f
checkpoints/MNIST-VAE/_MNIST_705/ocdbt.process_0/d/a4a6161dc23cd3772be02e7557d6dac3
checkpoints/MNIST-VAE/_MNIST_705/ocdbt.process_0/d/a8b9be046a3219bff15b75a3b99b2801
checkpoints/MNIST-VAE/_MNIST_705/ocdbt.process_0/d/cc08a48c824ace71ad3eb22d2565684f
checkpoints/MNIST-VAE/_MNIST_705/ocdbt.process_0/d/ddd8044352acd8f4b23ac01be5f56861
checkpoints/MNIST-VAE/_MNIST_940/_CHECKPOINT_METADATA
checkpoints/MNIST-VAE/_MNIST_940/_METADATA
checkpoints/MNIST-VAE/_MNIST_940/_sharding
checkpoints/MNIST-VAE/_MNIST_940/manifest.ocdbt
checkpoints/MNIST-VAE/_MNIST_940/d/92f12a0725272e86586f4c4688f22e96
checkpoints/MNIST-VAE/_MNIST_940/ocdbt.process_0/manifest.ocdbt
checkpoints/MNIST-VAE/_MNIST_940/ocdbt.process_0/d/0c330867535c280e48d103973f7fdbcd
checkpoints/MNIST-VAE/_MNIST_940/ocdbt.process_0/d/86e985532b3837fe63c9b689b36d31f7
checkpoints/MNIST-VAE/_MNIST_940/ocdbt.process_0/d/984df813f6d7160969a55e51faa97845
checkpoints/MNIST-VAE/_MNIST_940/ocdbt.process_0/d/3486ac34730141ce354b57e6e9f55064
checkpoints/MNIST-VAE/_MNIST_940/ocdbt.process_0/d/99499d3090abcc379070d939e0802a9f
checkpoints/MNIST-VAE/_MNIST_940/ocdbt.process_0/d/ba307db5dbe9744853db8507d038bc79
checkpoints/MNIST-VAE/_MNIST_940/ocdbt.process_0/d/c0e09290c11edf31c970c7e0c318cdbe
checkpoints/MNIST-VAE/_MNIST_940/ocdbt.process_0/d/e688f2a6680a13683b25567dc6352d2a
checkpoints/MNIST-VAE/_MNIST_940/ocdbt.process_0/d/f93fc79fb54524d94a0f0b4e4340e5ea
data/MNIST/raw/train-images-idx3-ubyte.gz
datasets/cifar-10-python.tar.gz
datasets/EMNIST/raw/emnist-balanced-test-images-idx3-ubyte
datasets/EMNIST/raw/emnist-balanced-test-labels-idx1-ubyte
datasets/EMNIST/raw/emnist-balanced-train-images-idx3-ubyte
datasets/EMNIST/raw/emnist-balanced-train-labels-idx1-ubyte
datasets/EMNIST/raw/emnist-byclass-test-images-idx3-ubyte
datasets/EMNIST/raw/emnist-byclass-test-labels-idx1-ubyte
datasets/EMNIST/raw/emnist-byclass-train-images-idx3-ubyte
datasets/EMNIST/raw/emnist-byclass-train-labels-idx1-ubyte
datasets/EMNIST/raw/emnist-bymerge-test-images-idx3-ubyte
datasets/EMNIST/raw/emnist-bymerge-test-labels-idx1-ubyte
datasets/EMNIST/raw/emnist-bymerge-train-images-idx3-ubyte
datasets/EMNIST/raw/emnist-bymerge-train-labels-idx1-ubyte
datasets/EMNIST/raw/emnist-digits-test-images-idx3-ubyte
datasets/EMNIST/raw/emnist-digits-test-labels-idx1-ubyte
datasets/EMNIST/raw/emnist-digits-train-images-idx3-ubyte
datasets/EMNIST/raw/emnist-digits-train-labels-idx1-ubyte
datasets/EMNIST/raw/emnist-letters-test-images-idx3-ubyte
datasets/EMNIST/raw/emnist-letters-test-labels-idx1-ubyte
datasets/EMNIST/raw/emnist-letters-train-images-idx3-ubyte
datasets/EMNIST/raw/emnist-letters-train-labels-idx1-ubyte
datasets/EMNIST/raw/emnist-mnist-test-images-idx3-ubyte
datasets/EMNIST/raw/emnist-mnist-test-labels-idx1-ubyte
datasets/EMNIST/raw/emnist-mnist-train-images-idx3-ubyte
datasets/EMNIST/raw/emnist-mnist-train-labels-idx1-ubyte
datasets/EMNIST/raw/gzip.zip
datasets/FashionMNIST/raw/t10k-images-idx3-ubyte
datasets/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
datasets/FashionMNIST/raw/t10k-labels-idx1-ubyte
datasets/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
datasets/FashionMNIST/raw/train-images-idx3-ubyte
datasets/FashionMNIST/raw/train-images-idx3-ubyte.gz
datasets/FashionMNIST/raw/train-labels-idx1-ubyte
datasets/FashionMNIST/raw/train-labels-idx1-ubyte.gz
datasets/MNIST/raw/t10k-images-idx3-ubyte
datasets/MNIST/raw/t10k-images-idx3-ubyte.gz
datasets/MNIST/raw/t10k-labels-idx1-ubyte
datasets/MNIST/raw/t10k-labels-idx1-ubyte.gz
datasets/MNIST/raw/train-images-idx3-ubyte
datasets/MNIST/raw/train-images-idx3-ubyte.gz
datasets/MNIST/raw/train-labels-idx1-ubyte
datasets/MNIST/raw/train-labels-idx1-ubyte.gz
datasets/QMNIST/raw/qmnist-train-images-idx3-ubyte
datasets/QMNIST/raw/qmnist-train-images-idx3-ubyte.gz
datasets/QMNIST/raw/qmnist-train-labels-idx2-int
datasets/QMNIST/raw/qmnist-train-labels-idx2-int.gz
datasets/cifar-10-batches-py/batches.meta
datasets/cifar-10-batches-py/data_batch_1
datasets/cifar-10-batches-py/data_batch_2
datasets/cifar-10-batches-py/data_batch_3
datasets/cifar-10-batches-py/data_batch_4
datasets/cifar-10-batches-py/data_batch_5
datasets/cifar-10-batches-py/readme.html
datasets/cifar-10-batches-py/test_batch
checkpoints/SimpleDiffusion/_EMNIST_20000/_CHECKPOINT_METADATA
checkpoints/SimpleDiffusion/_EMNIST_20000/_METADATA
checkpoints/SimpleDiffusion/_EMNIST_20000/_sharding
checkpoints/SimpleDiffusion/_EMNIST_20000/manifest.ocdbt
checkpoints/SimpleDiffusion/_EMNIST_20000/d/2ecc3c45025eb4a003fbec6fb43e4b33
checkpoints/SimpleDiffusion/_EMNIST_20000/ocdbt.process_0/manifest.ocdbt
checkpoints/SimpleDiffusion/_EMNIST_20000/ocdbt.process_0/d/9daf5df139dfb11ede1324e4cd1244f0
checkpoints/SimpleDiffusion/_EMNIST_20000/ocdbt.process_0/d/37b8fdc94b914005e6236e1f47c5295b
checkpoints/SimpleDiffusion/_EMNIST_20000/ocdbt.process_0/d/60b8c55653bbf5791592d5bafbe7df89
checkpoints/SimpleDiffusion/_EMNIST_20000/ocdbt.process_0/d/87d44b325afb8f964691d6d1d333b74c
checkpoints/SimpleDiffusion/_EMNIST_20000/ocdbt.process_0/d/451a85d49c214ac0c7dcf3602fec2d49
checkpoints/SimpleDiffusion/_EMNIST_20000/ocdbt.process_0/d/a354cb04d3f96fbc64b5d1985996bd2e
checkpoints/SimpleDiffusion/_EMNIST_20000/ocdbt.process_0/d/ae575e55c32f59749289120ff0816b2a
checkpoints/SimpleDiffusion/_EMNIST_20000/ocdbt.process_0/d/b4957e170cd2937bb775f158d0e7ed85
checkpoints/SimpleDiffusion/_EMNIST_20000/ocdbt.process_0/d/e460a37d07aca786d5dbf7009cd65743
checkpoints/SimpleDiffusion/_EMNIST_20000/ocdbt.process_0/d/e7531cd4da417f1f81852a6d3cedc2b7
checkpoints/TEST/_ARRAY_1/_CHECKPOINT_METADATA
checkpoints/TEST/_ARRAY_1/_METADATA
checkpoints/TEST/_ARRAY_1/_sharding
checkpoints/TEST/_ARRAY_1/manifest.ocdbt
checkpoints/TEST/_ARRAY_1/d/4bc5d6913d6d25b3bdedb3a1a021c5cd
checkpoints/TEST/_ARRAY_1/ocdbt.process_0/manifest.ocdbt
checkpoints/TEST/_ARRAY_1/ocdbt.process_0/d/754220cd9857aafe1909bbf534729ca3
checkpoints/TEST/_ARRAY_1/ocdbt.process_0/d/ccaa44345396a3f5cb660a578625fe05
output.png
two-moons-nsf-flow-data.png
two-moons-nsf-flow-layer-1.png
two-moons-nsf-flow-layer-2.png
two-moons-nsf-flow-layer-3.png
two-moons-nsf-flow-layer-4.png
two-moons-nsf-flow-layer-5.png
two-moons-nsf-flow-layer-6.png
two-moons-nsf-flow-layer-7.png
two-moons-nsf-flow-layer-8.png
two-moons-nsf-flow-layers.png
two-moons-nsf-flow-samples.png
